In [54]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import bar_chart_race as bcr

In [55]:
filename = 'refugee_status'
data = pd.read_csv(filename + '.csv', 
                   index_col=0, na_values=['-', 'D'], 
                   infer_datetime_format=1, parse_dates=True)
data.head()

,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Continent/Country of Nationality,,,,,,,,,,
Africa,"18,129","17,486","8,943","9,678","13,325","7,693","10,629","15,984","17,501","22,492"
Asia,"10,086","23,564","44,819","58,309","52,695","44,583","44,416","48,840","47,197","43,115"
Europe,"9,615","4,192","2,059","1,693","1,238",996,908,482,818,"2,164"
North America,"3,145","2,922","4,177","4,800","4,856","2,930","1,948","4,206","4,066","1,528"
Oceania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
data.replace(',','', regex=True, inplace=True)
data = data.apply(pd.to_numeric, errors='coerce', axis=1)
data = data.fillna(0).T
data

Continent/Country of Nationality,Africa,Asia,Europe,North America,Oceania,South America,Unknown,Afghanistan,Angola,Armenia,...,Togo,Uganda,Ukraine,Uzbekistan,Vietnam,Yemen,Zimbabwe,Other,Unknown,Total
2006,18129,10086,9615,3145,0,119,0,651,13,87,...,18,20,2483,527,3039,11,13,36,0,41094
2007,17486,23564,4192,2922,0,54,0,441,4,29,...,40,38,1605,190,1500,6,0,28,0,48218
2008,8943,44819,2059,4177,0,100,9,576,0,9,...,204,42,1022,134,1112,0,3,34,9,60107
2009,9678,58309,1693,4800,0,57,65,349,8,4,...,14,8,601,152,1486,47,10,28,65,74602
2010,13325,52695,1238,4856,0,126,1053,515,0,0,...,9,30,449,185,873,15,7,49,1053,73293
2011,7693,44583,996,2930,0,46,136,428,0,15,...,5,10,428,96,79,0,8,36,136,56384
2012,10629,44416,908,1948,0,130,148,481,0,8,...,26,18,372,140,41,0,3,32,148,58179
2013,15984,48840,482,4206,0,233,164,661,6,3,...,18,15,227,51,69,12,12,37,164,69909
2014,17501,47197,818,4066,0,252,141,753,0,10,...,26,5,490,69,67,0,0,32,141,69975
2015,22492,43115,2164,1528,0,522,99,910,5,49,...,0,67,1451,43,22,16,7,43,99,69920

In [57]:
data = data.drop(['Other', 'Unknown', 'Total', 'Africa', 'Asia', 'Europe', 
                  'North America', 'Oceania', 'South America'], axis = 1)
data

Continent/Country of Nationality,Afghanistan,Angola,Armenia,Azerbaijan,Belarus,Bhutan,Bosnia-Herzegovina,Burma,Burundi,Cambodia,...,Sri Lanka,Sudan,Syria,Togo,Uganda,Ukraine,Uzbekistan,Vietnam,Yemen,Zimbabwe
2006,651,13,87,77,350,3,16,1612,466,9,...,6,1848,27,18,20,2483,527,3039,11,13
2007,441,4,29,78,219,0,0,13896,4545,15,...,0,705,17,40,38,1605,190,1500,6,0
2008,576,0,9,30,111,5320,0,18139,2889,8,...,0,375,24,204,42,1022,134,1112,0,3
2009,349,8,4,38,146,13452,0,18202,762,15,...,33,683,25,14,8,601,152,1486,47,10
2010,515,0,0,18,103,12363,0,16693,530,9,...,118,558,25,9,30,449,185,873,15,7
2011,428,0,15,16,66,14999,0,16972,110,5,...,69,334,29,5,10,428,96,79,0,8
2012,481,0,8,10,83,15070,0,14160,186,6,...,55,1077,31,26,18,372,140,41,0,3
2013,661,6,3,3,10,9134,0,16299,193,30,...,92,2160,36,18,15,227,51,69,12,12
2014,753,0,10,15,46,8434,0,14598,68,44,...,57,1315,105,26,5,490,69,67,0,0
2015,910,5,49,18,98,5775,0,18386,1186,0,...,89,1578,1682,0,67,1451,43,22,16,7

In [83]:
df = data
bcr.bar_chart_race(
    df=df,
    filename='refugees.mp4',
    orientation='h',
    sort='desc',
    n_bars=7,
    fixed_order=False,
    fixed_max=False,
    steps_per_period=10,
    period_length=1500,
    interpolate_period=False,
    label_bars=True,
    bar_size=.90,
    period_label={'x': .99, 'y': .25, 'ha': 'right', 'va': 'center'},
    period_summary_func=lambda v, r: {'x': .99, 'y': .18,
                                      's': '',
                                      'ha': 'right', 'size': 8, 'family': 'Courier New'},
    perpendicular_bar_func='median',
    figsize=(5, 3),
    dpi=500,
    cmap='dark24',
    title='Refugees in the United States, 2006–2015',
    title_size=10,
    bar_label_size=7,
    tick_label_size=5,
    shared_fontdict={'color' : '.1'},
    scale='linear',
    writer=None,
    fig=None,
    bar_kwargs={'alpha': .7},
    filter_column_colors=True)